{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Advanced Search</h1>
<form method="get">
    <label for="query">Search:</label>
    <input type="text" name="query" id="query" placeholder="Search by title or description">
    
    <label for="genre">Genre:</label>
    <select name="genre" id="genre">
        <option value="">-- All Genres --</option>
        {% for genre in genres %}
            <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
        {% endfor %}
    </select>
    
    <label for="language">Language:</label>
    <input type="text" name="language" id="language" placeholder="Enter language" value="{{ language }}" >
    
    <label for="min_rating">Minimum Rating:</label>
    <input type="number" step="0.1" name="min_rating" id="min_rating" placeholder="Enter rating">

    <button type="submit">Search</button>
</form>

    <!-- نمایش نتایج جستجو -->
    {% if movies %}
        <h2>Results:</h2>
        <ul>
            {% for movie in movies %}
                <li>
                    <a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a> - Rating: {{ movie.overall_rating }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movies found.</p>
    {% endif %}
{% endblock %}
