{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>Animations</h1>
<div class="row">
    {% for animation in animations %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ animation.get_poster }}" alt="{{ animation.title }} poster" style="width: 150px; height: auto;">
            <div class="card-body">
                <h5 class="card-title">{{ animation.title }}</h5>
                <p class="card-text">{{ animation.description|truncatewords:20 }}</p>
                <a href="{% url 'animation_detail' animation.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No animations found.</p>
    {% endfor %}
</div>
{% endblock %}
