{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1>Your Favorites</h1>
    <ul class="list-group">
        {% for favorite in favorites %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {% if favorite.movie %}
                <a href="{% url 'movie_detail' favorite.movie.id %}">{{ favorite.movie.title }}</a>
                <form action="{% url 'remove_from_favorites' favorite.movie.id %}" method="post" class="m-0">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                </form>
            {% elif favorite.series %}
                <a href="{% url 'series_detail' favorite.series.id %}">{{ favorite.series.title }} (Series)</a>
            {% elif favorite.animation %}
                <a href="{% url 'animation_detail' favorite.animation.id %}">{{ favorite.animation.title }} (Animation)</a>
            {% endif %}
        </li>
        {% empty %}
        <li class="list-group-item">There are no items in your favorites list.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
