{% extends 'base.html' %}
{% load static %}

{% block title %}Top Series{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Top Series</h1>
    <ul class="list-group">
        {% for series in top_series %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'series_detail' series.id %}">{{ series.title }}</a>
                <span>Rating: {{ series.overall_rating }}</span>
            </li>
        {% empty %}
            <li class="list-group-item">No series yet.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
